.app {
  font-family: Arial, sans-serif;
  padding: 20px;
}
.w-75 {
  width: 80%;
}
nav {
  margin-bottom: 20px;
}

nav a {
  margin-right: 15px;
  text-decoration: none;
  color: #007bff;
}

nav a:hover {
  text-decoration: underline;
}

.book-search-page input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 16px;
}

.book-card {
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}
.book-card button {
  background-color: rgb(95, 172, 95);
  color: white;
  padding: 5px;
  border: 0 solid white;
  border-radius: 5px;
}

.book-card h3 {
  margin: 0;
}

.book-card p {
  margin: 5px 0;
}
.bookshelf-page .book-card {
  margin-right: 15px;
}
.bookshelf {
  display: flex;
}
.search-results {
  display: flex;
}
